truck/syn/Altera/db/i2cSlaveTopAltera.(0).cnf.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.(0).cnf.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.(1).cnf.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.(1).cnf.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.(2).cnf.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.(2).cnf.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.(3).cnf.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.(3).cnf.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.(4).cnf.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.(4).cnf.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.amm.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.asm.qmsg
truck/syn/Altera/db/i2cSlaveTopAltera.asm.rdb
truck/syn/Altera/db/i2cSlaveTopAltera.asm_labs.ddb
truck/syn/Altera/db/i2cSlaveTopAltera.cbx.xml
truck/syn/Altera/db/i2cSlaveTopAltera.cmp.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.cmp.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.cmp.kpt
truck/syn/Altera/db/i2cSlaveTopAltera.cmp.logdb
truck/syn/Altera/db/i2cSlaveTopAltera.cmp.rdb
truck/syn/Altera/db/i2cSlaveTopAltera.cmp0.ddb
truck/syn/Altera/db/i2cSlaveTopAltera.db_info
truck/syn/Altera/db/i2cSlaveTopAltera.eda.qmsg
truck/syn/Altera/db/i2cSlaveTopAltera.fit.qmsg
truck/syn/Altera/db/i2cSlaveTopAltera.hier_info
truck/syn/Altera/db/i2cSlaveTopAltera.hif
truck/syn/Altera/db/i2cSlaveTopAltera.idb.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.lpc.html
truck/syn/Altera/db/i2cSlaveTopAltera.lpc.rdb
truck/syn/Altera/db/i2cSlaveTopAltera.lpc.txt
truck/syn/Altera/db/i2cSlaveTopAltera.map.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.map.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.map.logdb
truck/syn/Altera/db/i2cSlaveTopAltera.map.qmsg
truck/syn/Altera/db/i2cSlaveTopAltera.pre_map.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.pre_map.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.rtlv.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.rtlv_sg.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.rtlv_sg_swap.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.sgdiff.cdb
truck/syn/Altera/db/i2cSlaveTopAltera.sgdiff.hdb
truck/syn/Altera/db/i2cSlaveTopAltera.sld_design_entry.sci
truck/syn/Altera/db/i2cSlaveTopAltera.sld_design_entry_dsc.sci
truck/syn/Altera/db/i2cSlaveTopAltera.smart_action.txt
truck/syn/Altera/db/i2cSlaveTopAltera.sta.qmsg
truck/syn/Altera/db/i2cSlaveTopAltera.sta.rdb
truck/syn/Altera/db/i2cSlaveTopAltera.sta_cmp.5_slow.tdb
truck/syn/Altera/db/i2cSlaveTopAltera.syn_hier_info
truck/syn/Altera/db/i2cSlaveTopAltera.tis_db_list.ddb
truck/syn/Altera/db/i2cSlaveTopAltera.tmw_info
truck/syn/Altera/db/logic_util_heursitic.dat
truck/syn/Altera/db/prev_cmp_i2cSlaveTopAltera.qmsg
truck/syn/Altera/download.bat
truck/syn/Altera/i2cSlaveTopAltera.asm.rpt
truck/syn/Altera/i2cSlaveTopAltera.cdf
truck/syn/Altera/i2cSlaveTopAltera.cof
truck/syn/Altera/i2cSlaveTopAltera.done
truck/syn/Altera/i2cSlaveTopAltera.drc.rpt
truck/syn/Altera/i2cSlaveTopAltera.eda.rpt
truck/syn/Altera/i2cSlaveTopAltera.fit.rpt
truck/syn/Altera/i2cSlaveTopAltera.fit.smsg
truck/syn/Altera/i2cSlaveTopAltera.fit.summary
truck/syn/Altera/i2cSlaveTopAltera.flow.rpt
truck/syn/Altera/i2cSlaveTopAltera.map.rpt
truck/syn/Altera/i2cSlaveTopAltera.map.summary
truck/syn/Altera/i2cSlaveTopAltera.qws
truck/syn/Altera/i2cSlaveTopAltera.sta.rpt
truck/syn/Altera/i2cSlaveTopAltera.sta.summary
truck/syn/Altera/i2cSlaveTopAltera_assignment_defaults.qdf
truck/syn/Altera/i2cSlaveTopAltera_description.txt
truck/syn/Altera/incremental_db/README
truck/syn/Altera/incremental_db/compiled_partitions/i2cSlaveTopAltera.db_info
truck/syn/Altera/incremental_db/compiled_partitions/i2cSlaveTopAltera.root_partition.map.kpt
truck/rtl/pulse.v.bak
truck/sim/testHarness
truck/sim/wave.vcd
truck/syn/Altera/db/
.idea/
truck/syn/Altera/i2cSlaveTopAltera.jdi
truck/syn/Altera/i2cSlaveTopAltera.sld
truck/syn/Altera/i2cSlaveTopAltera.v
truck/syn/Altera/i2cSlaveTopAltera.v.bak
truck/syn/Altera/pll_48MHz.v

